<head>
  <!-- taken from https://github.com/cult-of-coders/meteor-tuts-boilerplate/blob/master/client/main.html -->
  <!-- https://stackoverflow.com/questions/29972319/suggestions-for-head-tags-for-meteor -->
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="" />
  <meta name="author" content="" />
  <meta name="keywords" content="" />
  <link rel="icon" type="image/png" href="/img/headcount-favicon-16x16.png?v=2" sizes="16x16" />
</head>

<body>
  <!-- <div id="react-target"></div> -->
  <div id="app"></div>
</body>




