<!-- https://apiko.com/blog/organization-of-email-sending-in-meteorjs/ -->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>{{subject}}</title> <!-- Title of email -->
  <style ...></style> <!-- style of email if need -->
</head>
<body itemscope itemtype="http://schema.org/EmailMessage">
	{{{email}}}  <!-- body of email -->
	<footer>
  	{{{footer}}} <!-- footer of email -->
	</footer>
</body>
</html>