div#mocha {
    background: white;
    border-right: 2px solid black;
    height: 100%;
    left: 0;
    margin: 0;
    overflow: auto;
    padding: 1rem;
    position: fixed;
    // resize: horizontal;
    top: 0;
    width: 100%;
    z-index: 1000;
}