html {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
}

.application {
    height: 100%;
    height: -moz-calc(100vh - 56px);
    height: -webkit-calc(100vh - 56px);
    height: -o-calc(100vh - 56px);
    height: calc(100vh - 56px);
}